<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home page</h1>
    <nav>
      <ul>
        <li><a href="./about-us.html">About-us</a></li>
        <li><a href="./sign-up.html">Sign-up</a></li>
        <li><a href="./products.html">Products</a></li>
        <li><a href="./add-product.html">Add new products</a></li>
      </ul>
    </nav>
  </body>
</html>
